<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="app" value="MDT Smart Kit"/>
    <add key="publicKey" value="AwEAAeoP9s0YmYMukCJJNkuL4+FlkbxJ2FGqDekIh6KgtL390E45qGukmBfPaZY5AXaz9+QqDvz0bNkEMiJKgT2jpXRZ53r/YgfgU5Y/0wqaTmKVaM79cG4Pi4Q5EBpAAUMevVrlK5m1+JyVown+/uzUTHEnQ51h17Vc565LRtOdDBkX"/>
    <add key="runTimeConfigPath" value="control/runtime.ini"/>
    <add key="userClosing" value="false"/>
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
</configuration>