#macro(convertBoolean $p)#if($p)Y#else N#end#end
#macro(parseAComponent $p)
	<component name="${p.Name}" required="#convertBoolean(${p.Required})"/>
	#paraeAFix($p)
	</component>
#end
#macro(paraeAFix $p)
	#foreach($field in $p.Fields)
	<field name="${field.Name}" required="#convertBoolean(${field.Required})"/>
	#end
	#foreach($group in $p.Groups)
	#parseAGroup($group)
	#end
	#foreach($component in $p.Components)
	#parseAComponent($component)
	#end
#end
#macro(parseAGroup $p)
	<group name="${p.Name}" required="#convertBoolean(${p.Required})">
	#paraeAFix($p)
	</group>
#end
##上面是通用递归
#macro(parseComponent $p)
<component name="${p.Name}">
#paraeAFix($p)
</component>
#end

#parseComponent($component)



