#set($codeLanguage ='Java')
public class FixMessage {

	public static class FieldsEnum{
#foreach($field in $fields)
	#if($field.Values.Count > 0 )
	
public static class ${field.Name}{
		#foreach($Value in $field.Values)
			#if($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) =="String")
public static final $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${Value.Description} ="${Value.Enum}";
			#else
public static final $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${Value.Description} ='${Value.Enum}';
			#end
		#end
	}
	#end
#end
	}
 

	public static class Fields{
	#foreach($field in $fields)
			public static final String ${field.Name} = "${field.Name}";
	#end
	}
	
}



