## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
#set($region="#")
using System;
using System.Collections.Generic;
using System.Text;
using Ats.Foundation.Condition;
using Ats.Foundation.Message;
using ${idalNameSpace};
using ${modelNameSpace};
namespace ${idalNameSpace}
{
	/// <summary>
#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
	/// ${tableInfo.TableComments} 数据访问服务接口
#else
	/// ${tableInfo.TableName}
#end
	/// </summary>
	/// <remarks>
	/// $date: 创建. ${pluginName} 模板版本(v1.0.1.0)<br/>
	/// </remarks>
	public interface I${model}DALServer: IBaseDALServer
	{
	
		${region}region Insert
		/// <summary>
		/// 增加${model}方法
		/// </summary>
		/// <param name="${lmodel}">$!{tableInfo.TableComments}${model}对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<${model}> Insert(${model} ${lmodel});
		${region}endregion

		${region}region Delete
		/// <summary>
		/// 删除${model}方法
		/// </summary>
		/// <param name="deleteCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<${model}> Delete(Condition deleteCondition);
		${region}endregion

		${region}region Update
		/// <summary>
		/// 更新${model}方法
		/// </summary>
		/// <param name="${lmodel}">${model}对象</param>
		/// <param name="updateCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<${model}> Update(${model} ${lmodel},Condition updateCondition);
		${region}endregion
		
		${region}region UpdateBatch
		/// <summary>
		/// 批量更新${model}方法
		/// </summary>
		/// <param name="List<${lmodel}>">${model}对象集合</param>
		/// <param name="updateCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<List<${model}>> UpdateBatch(List<${model}> ${lmodel}s,Condition updateCondition);
		${region}endregion
		
		${region}region Select
		/// <summary>
		/// 查找${model}方法
		/// </summary>
		/// <param name="queryCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<List<${model}>> Select(Condition queryCondition);
		${region}endregion
		
		${region}region SelectCount
		/// <summary>
		/// 查找${model}数量方法
		/// </summary>
		/// <param name="queryCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<Dictionary<string,int>> SelectCount(Condition queryCondition);
		${region}endregion
		
		${region}region SelectPage
		/// <summary>
		/// 分页查找${model}方法
		/// </summary>
		/// <param name="queryCondition">Condition对象</param>
		/// <returns>AtsMsg对象</returns>
		AtsMsg<List<${model}>> SelectPage(Condition queryCondition);
		${region}endregion
	}
}