## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
package ${wsPackage};

import javax.jws.WebService;


/**
#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
 *${tableInfo.TableComments} WS接口
#else
 *${tableInfo.TableName}
#end
 *
 *$date: 创建. ${pluginName} <br/>
 */
@WebService
public interface I${model} {
	
	public byte[] select();
	
	public byte[] insert(byte[] ${lmodel});
	
	public byte[] delete(byte[] deleteCondition);
	
	public byte[] update(byte[] ${lmodel},byte[] updateCondition);
	
	public byte[] select(byte[] queryCondition);
}
