package ats.app.ym.db;

import java.math.BigDecimal;
import java.sql.Timestamp;
import java.util.Date;

 /**
#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
   *${tableInfo.TableComments} Po对象
#else
   *${tableInfo.TableName}
 #end
  *
  *$date: 创建. ${pluginName} 模板版本(v1.0.0.0) <br/>
  */
public class T${codeGenHelper.GetClassName2(${tableInfo.tableName},$codeRule)} {

	#foreach($column in $tableInfo.Columns)
#set($netType=${dataTypeMappingHelper.GetJavaDataTypeByDbType(${dbType},${column.DataType},${column.DataScale},${column.DataLength},${column.DataNullAble})})
		public $netType $codeGenHelper.StrFirstToUpperAndUnderline(${column.Name})#if(!$column.DataNullAble || !$codeGenHelper.IsNullOrEmpty(${column.DataDefault})) = ${codeGenHelper.GetDefaultValueByDataType(${netType}, ${column.DataDefault})}#end;#if(${column.Comments})//${column.Comments}#end
		
	#end
}