#set($codeLanguage ='Java')
package ats.bbox.common.mo.component;


import ats.bbox.common.mo.BaseMessage;

public class StandardTrailer extends BaseMessage{

#foreach($Group in ${trailer.Groups})
 public static final String GROUP_${Group.Name}=FixMessage.Fields.${Group.Name};
#end
#foreach($Field in ${trailer.Fields})
		public $FixHelper.GetFieldOrGroupType($codeLanguage,${Field.Name}) get${Field.Name}(){
		return DataTypeConverter.Utils.to$FixHelper.GetFieldOrGroupType($codeLanguage,${Field.Name})(this.get(FixMessage.Fields.${Field.Name}));
		}
		public void set${Field.Name}($FixHelper.GetFieldOrGroupType($codeLanguage,${Field.Name}) $FixHelper.StrFirstToLower(${Field.Name})){
		this.put(FixMessage.Fields.${Field.Name}, ${FixHelper.StrFirstToLower(${Field.Name})});
		}		

#end

#foreach($Group in ${trailer.Groups})
	public static class ${Group.Name} extends BaseMessage{
	
	#foreach($Field in ${Group.Fields})
	
		public $FixHelper.GetFieldOrGroupType($codeLanguage,${Field.Name}) get${Field.Name}(){
		return DataTypeConverter.Utils.to$FixHelper.GetFieldOrGroupType(${Field.Name})(this.get(FixMessage.Fields.${Field.Name}));
		}
		public void set${Field.Name}($FixHelper.GetFieldOrGroupType(${Field.Name}) $FixHelper.StrFirstToLower(${Field.Name})){
		this.put(FixMessage.Fields.${Field.Name}, ${FixHelper.StrFirstToLower(${Field.Name})});
		}

	#end
	}
#end
}
