<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
   
  </configSections>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="DefaultQuartzScheduler"/>
    <add key="quartz.threadPool.type" value="Quartz.Simpl.SimpleThreadPool, Quartz"/>
    <add key="quartz.threadPool.threadCount" value="1"/>
    <add key="quartz.threadPool.threadPriority" value="2"/>
    <add key="quartz.jobStore.misfireThreshold" value="60000"/>
    <add key="quartz.jobStore.type" value="Quartz.Simpl.RAMJobStore, Quartz"/>
  </quartz>
  <appSettings>
    <add key="App" value="MDT Smart Kit"/>
    <add key="PublicKey" value="AwEAAeoP9s0YmYMukCJJNkuL4+FlkbxJ2FGqDekIh6KgtL390E45qGukmBfPaZY5AXaz9+QqDvz0bNkEMiJKgT2jpXRZ53r/YgfgU5Y/0wqaTmKVaM79cG4Pi4Q5EBpAAUMevVrlK5m1+JyVown+/uzUTHEnQ51h17Vc565LRtOdDBkX"/>
    <add key="RunTimeConfigPath" value="control/runtime.ini"/>
    <add key="UserClosing" value="false"/>
    <add key="IsSaveWorkSpace" value="false"/>
    <add key="IsSingle" value="true"/>
    <add key="VsVersion" value="2013"/>
    <add key="SplashPic" value="resources/load.gif"/>
    <add key="SplashHeight" value="5"/>
    <add key="SplashWidth" value="200"/>
    
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
</configuration>