<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="app" value="MDT Smart Kit"/>
    <add key="runTimeConfigPath" value="control/runtime.txt"/>
    <add key="userClosing" value="false"/>
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
</configuration>