<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppExe" value="MDT Smart Kit"/>
    <add key="AppName" value="MDT Smart Kit"/>
    <add key="AutoUpdaterLib" value="bin/MDT.ThirdParty.Controls.dll"/>
    <add key="AutoUpdaterClass" value="MDT.ThirdParty.Controls.AutoUpdater"/>
    
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
</configuration>