<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="helpDesk" value="MDT.Tools.HelpDesk.exe"/>
    <add key="key1" value="AwEAAbTbL7J0sM71/EPEZ9Dnq64b9kxTGWDH7rrdCG1/vnqBAYP+KmsvMS3v6UI/ZMff6enBbncvMhEsjE8dnFmaZcyfgEAUCHB9A0ajJUu19O1zkWpIYiSUbdELsLz/KV8DG7UgyCIiqlNUMCRfXzKLHV3tMEY3JKjeJpmagAwNx4zb"/>
    <add key="key2" value="371494C189D77ADB29000EBE25DE704DC930E467BC9D4B34B844E232C591E4DB4C0849B6F280F302AF7F2D05EEB9AAD48A40D3AC167B900023A2BE153CEC9B29315F690FA9571D65DDF5B58B196DEFDFA6297CFD2E49DDA6F767794843D729D38641AF8E04C554A1B5392C02E79A8D928CEA344C8892484A401B262321F4C735"/>
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
</configuration>