<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="clientAutoUpdaterUrl" value="http://113.10.168.242/client/"/>
    <add key="url" value="http://113.10.168.242/client/"/>
    <add key="enableClient" value="true"/>
    <add key="clientPath" value="control/"/>
    <add key="type" value="1"/>
    <add key="enableEncrpterRunTimeConfig" value="false"/>
    <add key="runTimeConfigPath" value="control/runtime.txt"/>
    <add key="privateKey" value="gM3ZDl/f45qYR9CvfJ3CQL7JGftzIljn6uXoR4lCNtLktt8lHDbXAZ/nHOAt8FiZ/EhgqN/Ugyn047Z+ud0g3++eKm8KfireF4Pk5skmKBYxrKw6ouxcixsUwufFK2GeKVA6dYKbuEE2csocCa9U9P8RNvO62wwRWeXGBU1XdNJp6g/2zRiZgy6QIkk2S4vj4WWRvEnYUaoN6QiHoqC0vf3QTjmoa6SYF89pljkBdrP35CoO/PRs2QQyIkqBPaOldFnnev9iB+BTlj/TCppOYpVozv1wbg+LhDkQGkABQx69WuUrmbX4nJWjCf7+7NRMcSdDnWHXtVznrktG050MGRc="/>

    <add key="enableAliyun" value="true"/>
    <add key="accessId" value="8rtKfQTKlHlgDNHc"/>
    <add key="accessKey" value="dVRZLKfLS9SYNnv5bwLolTfv9cJqoS"/>
    
    <add key="bucketName" value="atflite"/>
    <add key="prefix" value="x86/"/>
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="bin;plugin" />
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
