## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
#set($region="#")
using System;
using System.Collections.Generic;
using System.Text;
using Ats.Foundation.Message;
using Atf.Common.Core;
using ${idalNameSpace};
using ${modelNameSpace};
using Ats.Foundation.Condition;
using Atf.Common;
namespace ${bllNameSpace}
{
	/// <summary>
	/// ${guiPluginName}业务层
	/// </summary>
	/// <remarks>
	/// $date: 创建. ${pluginName} 模板版本(v1.0.0.0)<br/>
	/// </remarks>
	public class ${guiPluginName}BLLService: BaseBLLService,I${guiPluginName}BLLService
	{
		${region}region 属性
		private I${model}DALServer i${lmodel}DALServer;
		public I${model}DALServer I${model}DALServer
		{
			get { return i${lmodel}DALServer;}
			set { i${lmodel}DALServer = value;}
		}
		${region}endregion
       
 	    public int Select${model}Count(Condition co)
        {
            int Count = 0;
            try
            {                             
                AtsMsg<Dictionary<string, int>> msg = i${lmodel}DALServer.SelectCount(co);
                if (WebServicesHelper.CheckResult(msg.Header, true))
                {
                    Count = msg.Body["COUNTS"];
                }
            }
            catch (Exception ex)
            {
                LogHelper.Error(ex.Message);
            }
            return Count;
        }

        public List<${model}> Select${model}Page(Condition co)
        {
            List<${model}> nmdpList = new List<${model}>();
            try
            {                           
                AtsMsg<List<${model}>> msg = i${lmodel}DALServer.SelectPage(co);
                if (WebServicesHelper.CheckResult(msg.Header, true))
                {
                    nmdpList = msg.Body;
                }
            }
            catch (Exception ex)
            {
                LogHelper.Error(ex.Message);
            }
            if (nmdpList == null)
            {
                nmdpList = new List<${model}>();
            }
            return nmdpList;
        }

    }
}
	
	
