## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
#set($region="#")
using System;
using System.Collections.Generic;
using System.Text;
using Ats.Foundation.Message;
using Ats.YuKon.Common;
using Ats.YuKon.Common.Core;
using ${idalNameSpace};
using ${modelNameSpace};
namespace ${bllNameSpace}
{
	/// <summary>
	/// ${guiPluginName}业务层
	/// </summary>
	/// <remarks>
	/// $date: 创建. ${pluginName} <br/>
	/// </remarks>
	public class ${guiPluginName}BLLService: BaseBLLService,I${guiPluginName}BLLService
	{
		${region}region 属性
		private I${model}DALServer i${lmodel}DALServer;
		public I${model}DALServer I${model}DALServer
		{
			get { return i${lmodel}DALServer;}
			set { i${lmodel}DALServer = value;}
		}
		${region}endregion
	}
}