#set($codeLanguage ='CSharp')
using System;
using System.Collections.Generic;
using System.Text;

namespace Ats.Model
{

public class FixMessage 
{

	public static class FieldsEnum
	{
#foreach($field in $fields)
	#if($field.Values.Count > 0 )
	
public static class ${field.Name}
{
		#foreach($Value in $field.Values)
			#if($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) =="string")
public static readonly $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${Value.Description} ="${Value.Enum}";
			#end
			#if($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) =="char")
public static readonly $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${Value.Description} ='${Value.Enum}';
			#end
			#if($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) =="int")
public static readonly $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${Value.Description} =${Value.Enum};
			#end
		#end
}
	#end
#end
}
 

	public static class Fields
	{
	#foreach($field in $fields)
			public static readonly string ${field.Name} = "${field.Name}";
	#end
	}
	}
}


