#if(${tableInfo.type}=="TABLE")

#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
	comment on table ${tableInfo.TableName} is '${tableInfo.TableComments}';
#end

#foreach($column in $tableInfo.Columns)
#if(!$codeGenHelper.IsNullOrEmpty(${column.Comments}))
	comment on column ${tableInfo.TableName}.${column.Name} is '${column.Comments}';
#else
#if($column.IsChanged)
	comment on column ${tableInfo.TableName}.${column.Name} is '';
#end
#end
#end
#end