## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
package ${bsPackage};

import java.util.List;

import ats.common.model.po.${model};
import ats.foundation.utils.exception.CodeException;
import ats.foundation.condition.Condition;
/**
#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
 *${tableInfo.TableComments} BS接口
#else
 *${tableInfo.TableName}
#end
 *
 *$date: 创建. ${pluginName} <br/>
 */
public interface I${model}Server {
	/**
	 *根据location 查询出${model}集合对象
	 *
	 * @param location实体
	 * @return ${model}集合
	 */
	public List<${model}> select(String location) throws CodeException;

 
	/**
	 *增加${model}方法
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}
	 * @return ${model}对象
	 */
	public ${model} insert(${model} ${lmodel}) throws CodeException;

	/**
	 *删除${model}方法
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}
	 */
	public void delete(Condition deleteCondition) throws CodeException;

	/**
	 *更新${model}方法
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}
	 */
	public void update(${model} ${lmodel},Condition updateCondition) throws CodeException;
	
	/**
	 *批量更新${model}方法,先删除，后插入
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}
	 */
	public void updateBatch(List<${model}> ${lmodel}s,Condition deleteCondition) throws CodeException;
	
	/**
	 *根据Condition对象 查询出${model}对象
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}
	 * @return ${model}对象
	 */
	public List<${model}> select(Condition queryCondition) throws CodeException;
}
