## model字符串
#set($model=${codeGenHelper.GetClassName(${tableInfo.tableName},$codeRule)})
## 第一个字符为小写的model字符串
#set($lmodel=${codeGenHelper.StrFirstToLower($model)})
package ${bsPackage};

import java.math.BigDecimal;
import java.util.HashMap;
import java.util.List;

import ats.common.model.po.${model};
import ats.foundation.utils.exception.CodeException;
import ats.foundation.condition.Condition;
/**
#if(!$codeGenHelper.IsNullOrEmpty(${tableInfo.TableComments}))
 *${tableInfo.TableComments} BS接口
#else
 *${tableInfo.TableName}
#end
 *
 *$date: 创建. ${pluginName} 模板版本(v1.0.1.0)<br/>
 */
public interface I${model}Server {
	#if(${tableInfo.type}=="TABLE")
	/**
	 *增加${model}对象
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}对象
	 * @return ${model}对象
	 */
	public ${model} insert(${model} ${lmodel}) throws CodeException;

	/**
	 *删除${model}对象
	 *
	 * @param $!{tableInfo.TableComments}Condition对象
	 * @return 无
	 */
	public void delete(Condition deleteCondition) throws CodeException;

	/**
	 *更新${model}对象
	 *
	 * @param ${lmodel}对象
	 * @param $!{tableInfo.TableComments}Condition对象
	 * @return 无
	 */
	public void update(${model} ${lmodel},Condition updateCondition) throws CodeException;
	
	/**
	 *批量更新${model}对象,先删除，后插入
	 *
	 * @param ${lmodel}集合
	 * @param $!{tableInfo.TableComments}Condition对象
	 * @return 无
	 */
	public void updateBatch(List<${model}> ${lmodel}s,Condition deleteCondition) throws CodeException;
	#end
	/**
	 *根据Condition对象 查询出${model}对象
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}Condtion对象
	 * @return ${model}对象集合
	 */
	public List<${model}> select(Condition queryCondition) throws CodeException;
	
	
	/**
	 *根据Condition对象 查询出${model}对象数量
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}Condtion对象
	 * @return ${model}对象数量
	 */
	public HashMap<String,BigDecimal> selectCount(Condition queryCondition) throws CodeException;
	
	
	/**
	 *根据Condition对象 分页查询出${model}对象
	 *
	 * @param ${lmodel}$!{tableInfo.TableComments}Condtion对象
	 * @return ${model}对象集合
	 */
	public List<${model}> selectPage(Condition queryCondition) throws CodeException;
}
