#set($codeLanguage ='Java')
#macro(convertBoolean $p)#if($p)Y#else N#end#end
#macro(Jcp_parseAComponent $p)


	public ${p.Name} get${p.Name}(){
			return (${p.Name}) DataTypeConverter.Utils.toMap(this.get(MessageDictionary.Fields.${p.Name}));
		}
		public void set${p.Name}(${p.Name} ${codeGenHelper.StrFirstToLower(${p.Name})}){
			this.put(MessageDictionary.Fields.${p.Name}, ${codeGenHelper.StrFirstToLower(${p.Name})});
		}

#Jcp_paraeAFix($p)

#end
	
#macro(Jcp_paraeAFix $p)
#foreach($field in $p.Fields)
		public $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) get${field.Name}(){
			return DataTypeConverter.Utils.to$FixHelper.StrFirstToUpper($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}))(this.get(MessageDictionary.Fields.${field.Name}));
		}
		public void set${field.Name}($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${codeGenHelper.StrFirstToLower(${field.Name})}){
			this.put(MessageDictionary.Fields.${field.Name}, ${codeGenHelper.StrFirstToLower(${field.Name})});
		}
#end
#foreach($group in $p.Groups)
#Jcp_parseAGroup($group)

#end
#foreach($component in $p.Components)
#Jcp_parseAComponent($component)
#end
#end
#macro(Jcp_parseAGroup $p)

	public static final String GROUP_${group.Name}=MessageDictionary.Fields.${group.Name};
	
	public static class ${group.Name} extends BaseMessage{
#Jcp_paraeAFix($p)
	}

#end
#macro(Jcp_parseComponent $p)
package ats.bbox.common.mo.component;


#foreach($component in $p.Components)
import ats.bbox.common.mo.component.${component.Name};
#end
#foreach($group in $p.Groups)
#foreach($component in $group.Components)
import ats.bbox.common.mo.component.${component.Name};
#end
#end
import ats.bbox.common.mo.BaseMessage;
import ats.bbox.common.mo.MessageDictionary;
import ats.bbox.framework.utils.DataTypeConverter;

public class ${p.Name} extends BaseMessage{
#Jcp_paraeAFix($p)
}
#end
#Jcp_parseComponent($component)