#set($codeLanguage ='Java')
#macro(convertBoolean $p)#if($p)Y#else N#end#end

#macro(Jcp_paraeAFix2 $p)
#foreach($field in $p.Fields)
		t.set${field.Name}(get${field.Name}());
#end
#foreach($group in $p.Groups)
#Jcp_parseAGroup2($group)
#end
#foreach($component in $p.Components)
#Jcp_parseAComponent2($component)
#end
#end
#macro(Jcp_parseAGroup2 $p)
		t.set${group.Name}(new ArrayList<G${group.Name}>());
		for (G${group.Name} g : get${group.Name}()) {
			G${group.Name} g${group.Name}=g.Clone();		 
			t.get${group.Name}().add(g${group.Name});
		}
#end
#macro(Jcp_parseAComponent2 $p)
	t.g${p.Name}=${p.Name};
#end
#macro(Jcp_parseAComponent $p)


	public ${p.Name} get${p.Name}(){
			return (${p.Name}) this.get(MessageDictionary.Fields.${p.Name});
		}
		public void set${p.Name}(${p.Name} ${codeGenHelper.StrFirstToLower(${p.Name})}){
			this.put(MessageDictionary.Fields.${p.Name}, ${codeGenHelper.StrFirstToLower(${p.Name})});
		}

#Jcp_paraeAFix($p)

#end
	
#macro(Jcp_paraeAFix $p)
#foreach($field in $p.Fields)
		public $FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) get${field.Name}(){
			return DataTypeConverter.Utils.to$FixHelper.StrFirstToUpper($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}))(this.get(MessageDictionary.Fields.${field.Name}));
		}
		public void set${field.Name}($FixHelper.GetFieldOrGroupType($codeLanguage,${field.Name}) ${codeGenHelper.StrFirstToLower(${field.Name})}){
			this.put(MessageDictionary.Fields.${field.Name}, ${codeGenHelper.StrFirstToLower(${field.Name})});
		}
#end
#foreach($group in $p.Groups)
#Jcp_parseAGroup($group)

#end
#foreach($component in $p.Components)
#Jcp_parseAComponent($component)
#end
#end
#macro(Jcp_parseAGroup $p)

	private final String GROUP_${group.Name}=MessageDictionary.Fields.${group.Name};
	public List<G${group.Name}> get${group.Name}(){
			return (List<G${p.Name}>) this.get(GROUP_${group.Name});
		}
	public void set${group.Name}(List<G${group.Name}> ${codeGenHelper.StrFirstToLower(${group.Name})}){
			this.put(GROUP_${group.Name},${codeGenHelper.StrFirstToLower(${group.Name})});
		}
	public static class G${group.Name} extends BaseMessage{
#Jcp_paraeAFix($p)

	public G${group.Name} Clone()
	{
		G${group.Name} t=new  G${group.Name}();
		#Jcp_paraeAFix2($p)
		return t;
	}
	}

#end
#macro(Jcp_parseComponent $p)
package ats.bbox.common.mo.component;


#foreach($component in $p.Components)
import ats.bbox.common.mo.component.${component.Name};
#end
#foreach($group in $p.Groups)
#foreach($component in $group.Components)
import ats.bbox.common.mo.component.${component.Name};
#end
#end
import ats.bbox.common.mo.BaseMessage;
import ats.bbox.common.mo.MessageDictionary;
import ats.bbox.framework.utils.DataTypeConverter;
import java.util.List;
import java.util.ArrayList;
/**
 *
 *$date: 创建. ${pluginName} 模板版本(v1.0.1.1)<br/>
 */
public class ${p.Name} extends BaseMessage{
#Jcp_paraeAFix($p)

	public ${p.Name} Clone()
	{
		${p.Name} t=new ${p.Name}();
#Jcp_paraeAFix2($p)
		return t;
	}
}
#end
#Jcp_parseComponent($component)