public class StandardHeader extends BaseMessage{


#foreach($Group in ${header.Groups})
 public static final String GROUP_${Group.Name}=FixMessage.Fields.${Group.Name};
#end


#foreach($Field in ${header.Fields})
		public $FixHelper.GetFieldOrGroupType(${Field.Name}) get${Field.Name}(){
		return DataTypeConverter.Utils.to$FixHelper.GetFieldOrGroupType(${Field.Name})(this.get(FixMessage.Fields.${Field.Name}));
		}
		public void set${Field.Name}($FixHelper.GetFieldOrGroupType(${Field.Name}) $FixHelper.StrFirstToLower(${Field.Name})){
		this.put(FixMessage.Fields.${Field.Name}, ${FixHelper.StrFirstToLower(${Field.Name})});
		}		

#end

#foreach($Group in ${header.Groups})
	public static class ${Group.Name} extends BaseMessage{
	
	#foreach($Field in ${Group.Fields})
	
		public ${FixHelper.StrToLower($FixHelper.GetFieldOrGroupType(${Field.Name}))} get${Field.Name}(){
		return DataTypeConverter.Utils.to$FixHelper.GetFieldOrGroupType(${Field.Name})(this.get(FixMessage.Fields.${Field.Name}));
		}
		public void set${Field.Name}($FixHelper.GetFieldOrGroupType(${Field.Name}) $FixHelper.StrFirstToLower(${Field.Name})){
		this.put(FixMessage.Fields.${Field.Name}, ${FixHelper.StrFirstToLower(${Field.Name})});
		}

	#end
	}
#end
}